<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="margin: 50px;background-color: #e4f0f9;padding: 100px;">
        <form>
            
            <label>car type</label><br />

            <select id="cars" name="cars">
                <option value="Sedan">Sedan</option>
                <option value="PICKUP">PICKUP</option>
                <option value="LIMO">LIMO</option>
                <option value="Audi">Audi</option>
            </select><br /><br />
            <label>choose feture for your car</label><br />
            <input type="checkbox" id="vehicle1" name="vehicle1" value="seat belts">
            <label for="vehicle1"> seat belts</label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="front air bag">
            <label for="vehicle2">front air bag</label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="ABS">
            <label for="vehicle3"> ABS</label><br>

<br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>